---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}


/* 解决方案：覆盖原有 .badge 的绝对定位，使其正常排列 */
.paper-box-image .badge,
.paper-box-image .journal-name {
    /* 关键：移除绝对定位，恢复为正常的静态或相对定位 */
    position: static !important; /* 或 relative, initial */
    /* 移除绝对定位带来的偏移 */
    margin-top: 0;
    margin-left: 0;
    /* 设置为块级元素，每个独占一行 */
    display: block;
    /* 添加间距 */
    margin-bottom: 0.5em;
    /* 宽度自适应内容，左对齐 */
    width: fit-content;
}

.badge-journal-name {
    background-color: #00369f; /* 例如，使用灰色背景 */
    /* 或者保持和Q1、IF一样的蓝色 */
    /* background-color: #00369f; */
}

/* 学位徽章样式 */
.badge-degree {
    position: static !important; /* 关键：强制覆盖绝对定位 */
    display: inline-block !important; /* 确保它作为行内块元素 */
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0.5em !important; /* 只在右侧添加间距，避免重叠 */
    padding: 0.2em 0.6em;
    font-size: 0.75em;
    font-weight: bold;
    color: white;
    background-color: #6f42c1; /* 紫色 */
    border-radius: 4px;
    vertical-align: text-top; /* 微调垂直对齐方式 */
}